
<!-- =====  HEADER START  ===== -->
<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="header-top-left">
            <div class="contact"><a href="#">GỌI NGAY !</a> <span class="hidden-xs hidden-sm hidden-md">+0367337892</span></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <ul class="header-top-right text-right">
           
            <ng-container *ngIf="userAuth | async  as auth; else elseBlock">
              <ng-container *ngIf="auth">
            <li class="account"><a href="#" data-toggle="modal" data-target="#ModalLogOut"> Tài Khoản</a></li>
          </ng-container>
        </ng-container> 
        <ng-template #elseBlock>
          <li class="account"><a href="#" data-toggle="modal" data-target="#myModal"> Tài Khoản</a></li>
      </ng-template>
            <li> <app-login></app-login>
          </li>
            <li class="language dropdown"> <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Ngôn ngữ<span class="caret"></span> </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">English</a></li>
                <li><a href="#">Việt nam</a></li>
              </ul>
            </li>
            <li class="currency dropdown"> <span class="dropdown-toggle" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"> Tiền tệ<span class="caret"></span> </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
                  <li><a href="#">$ US Dollar</a></li>
        <li><a href="#">£ VND</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="main-search mt_40">
            <input id="search-input" name="search" value="" placeholder="Tìm kiếm" class="form-control input-lg" autocomplete="off" type="text"
            data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
            [(ngModel)]="name" (ngModelChange)="Search()" >
            <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
          </span> </div>
          <div class="collapse overflow-auto" id="collapseExample">
            <div class="card card-body">
              <div class="anyClass">
                <div class="row" *ngFor="let d of dataSeach">
                  <a [routerLink]="['/detail', d._id]"> &nbsp; {{d.name}}</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" href="index.html"> <img alt="OYEENok" src="../../../assets/images/logo.png"> </a> </div>
        <div class="col-xs-6 col-sm-4 shopcart">
          <div id="cart" class="btn-group btn-block mtb_40">
            <button type="button" class="btn" routerLink="cart" data-toggle="collapse" aria-expanded="true"><span id="shippingcart">GIỎ HÀNG </span><span id="cart-total">SẢN PHẨM</span> </button>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <p>Menu</p>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul id="menu" class="nav navbar-nav">
            <li> <a routerLink="">Trang chủ</a></li>
            <li> <a  >Hệ thống của hàng</a></li>
            <li> <a  >Nghệ sĩ tin dùng</a></li>
            <li class="dropdown mega-dropdown"> <a routerLink = "products"class="dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
              <ul class=" dropdown-menu dropdown-menu-custom mega-dropdown-menu row">
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Thương hiệu</li>
                    <li><a href="/products/Chanel">Chanel</a></li>
                    <li><a href="/products/Gucci">Gucci</a></li>
                    <li><a href="/products/Dior">Dior</a></li>
                    <li><a href="/products/YSl">YSl</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Giới tính</li>
                    <li><a href="#">Son nữ</a></li>
                    <li><a href="#">Son Unisex</a></li>
                    <li><a href="#">Son lì</a></li>
                    <li><a href="#">Son kem</a></li>
                    <li><a href="#">Son dưỡng</a></li>
                    <li><a href="#">Loại son</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Màu son</li>
                    <li><a href="/products/Hồng cam">Hồng</a></li>
                    <li><a href="#">Tím</a></li>
                    <li><a href="#">Cam</a></li>
                    <li><a href="#">Đỏ hồng</a></li>
                    <li><a href="#">Đỏ tươi</a></li>
                    <li><a href="#">Hồng đất</a></li>
                    <li><a href="#">Đỏ cam</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li id="myCarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active"> <a href="#"><img src="../../../assets/images/sanpham2.jpeg" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="../../../assets/images/sanpham1.png" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="../../../assets/images/sanpham3.png" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                      </div>
                      <!-- End Carousel Inner -->
                    </li>
                    <!-- /.carousel -->
                  </ul>
                </li>
              </ul>
            </li>
            <li> <a routerLink="cart">Tin tức</a></li>
            <li> <a href="about.html">Khuyến mãi</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Liên hệ</a>
            </li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </nav>
    </div>
  </div>
</header>
<!-- =====  HEADER END  ===== -->
