<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thêm sản phẩm</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Nhà</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm sản phẩm</li>
        </ol>
    </div>

    <div class="main-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/assets/img/add.img" alt="Admin" class="rounded" width="300">
                                <div class="mt-3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-success mb-1" data-toggle="collapse"
                                                data-target="#collapseExample" aria-expanded="false"
                                                aria-controls="collapseExample">
                                                Chọn</button>
                                        </div>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                <div class="row mb-3">
                                                    <div class="col-sm-4">
                                                        <h6 class="mb-0">Link ảnh</h6>
                                                    </div>
                                                    <div class="col-sm-8 text-secondary">
                                                        <input type="text" class="form-control"
                                                            placeholder="Nhập link ảnh" id="img" name="img" required
                                                            formControlName="img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tên sản phẩm</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" name="name"
                                        formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Vui lòng nhập tên sản phẩm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Thương hiệu </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select class="form-control minimal" aria-label="Default select example" id="brand"
                                        name="brand" formControlName="brand"
                                        [ngClass]="{ 'is-invalid': submitted && f.brand.errors }">
                                        <option value="" disabled selected>Chọn thương hiệu</option>
                                        <option>Chanel</option>
                                        <option>Gucci</option>
                                        <option>Dior</option>
                                        <option>YSl</option>
                                    </select>
                                    <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                                        <div *ngIf="f.brand.errors.required">Vui lòng chọn thương hiệu</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Xuất sứ</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select class="form-control minimal" aria-label="Default select example"
                                        id="made_in" name="made_in" formControlName="made_in"
                                        [ngClass]="{ 'is-invalid': submitted && f.made_in.errors }">
                                        <option value="" disabled selected> Chọn xuất sứ</option>
                                        <option>Pháp</option>
                                        <option>Ý</option>
                                        <option>Anh</option>
                                    </select>
                                    <div *ngIf="submitted && f.made_in.errors" class="invalid-feedback">
                                        <div *ngIf="f.made_in.errors.required">Vui lòng chọn xuất sứ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Màu sắc</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select class="form-control minimal" name="color" formControlName="color"
                                        [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
                                        <option value="" disabled selected>Chọn màu sắc</option>
                                        <option>Cam</option>
                                        <option>Hồng nhạt</option>
                                        <option>Hồng đỏ đất</option>
                                        <option>Cam</option>
                                        <option>Hồng</option>
                                        <option>Đỏ đất</option>
                                        <option>Đỏ</option>
                                    </select>
                                    <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                                        <div *ngIf="f.color.errors.required">Vui lòng chọn màu sắc</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Giá sản phẩm</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" placeholder="Nhập giá sản phẩm" id="price"
                                        name="price" formControlName="price"
                                        [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required">Vui lòng nhập giá sản phẩm</div>
                                        <div *ngIf="f.price.errors.pattern"> giá sản phẩm phải là số</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Giá sản phẩm giảm giá</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" placeholder="Nhập sản phẩm giảm giá"
                                        id="old_price" name="old_price" formControlName="old_price"
                                        [ngClass]="{ 'is-invalid': submitted && f.old_price.errors }">
                                    <div *ngIf="submitted && f.old_price.errors" class="invalid-feedback">
                                        <div *ngIf="f.old_price.errors.required">Vui lòng nhập giá giảm sản phẩm</div>
                                        <div *ngIf="f.old_price.errors.pattern"> giá sản phẩm giảm giá phải là số</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3 text-secondary">
                                    <button type="submit" class="btn btn-success mb-1">
                                        {{locate !== undefined ? "Cập nhật": "Lưu"}}
                                    </button>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <button type="button" class="btn btn-danger mb-1" (click)="deleteProduct()">
                                        Xoá
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>