
<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
  <div class="container">
    <div class="row">
      <div class="footer-top pb_60 mb_30">
        <div class="col-xs-12 col-sm-6">
          <div class="footer-logo"> <a href="index.html"> <img src="../../../assets/images/footer-logo.png" alt="OYEENok"> </a> </div>
          <div class="footer-desc">Website chuyên cung cấp các sản phẩm son hàng hiệu cao cấp.</div>
        </div>
        <!-- =====  testimonial  ===== -->
        <div class="col-xs-12 col-sm-6">
          <div class="Testimonial">
            <div class="client owl-carousel">
              <div class="item client-detail">
                <div class="client-avatar"> <img alt="" src="../../../assets/images/dai-su.jpeg"> </div>
                <div class="client-title"><strong>Lisa</strong></div>
                <div class="client-designation mb_10"> - Đại sứ</div>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Là gương mặt đại diện toàn cầu của MAC, Lisa khoe vẻ đẹp sang chảnh hiện đại ..</p>
              </div>
              <div class="item client-detail">
                <div class="client-avatar"> <img alt="" src="../../../assets/images/dai-su2.jpeg"> </div>
                <div class="client-title"><strong>Jisoo</strong></div>
                <div class="client-designation mb_10"> - BLACKPINK</div>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Ai bảo Jisoo (BLACKPINK) chỉ hợp kiểu trang điểm tự nhiên nào quảng cáo son của Dior ..</p>
              </div>
              <div class="item client-detail">
                <div class="client-avatar"> <img alt="" src="../../../assets/images/dai-su3.jpeg"> </div>
                <div class="client-title"><strong>Jennie</strong></div>
                <div class="client-designation mb_10"> - nàng thơ của Chanel</div>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Jennie đã cùng Jun Jihyun trở thành người đại diện cho Hera, hãng mỹ phẩm cao cấp hàng đầu xứ Hàn ..</p>
              </div>
            </div>
          </div>
        </div>
        <!-- =====  testimonial end ===== -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">THÔNG TIN</h6>
        <ul>
          <li><a href="#">HIEUok là gì?</a></li>
          <li><a href="#">Quy chế hoạt động</a></li>
          <li><a href="#">Hợp tác với HIEUok</a></li>
          <li><a href="#">Liên hệ</a></li>
          <li><a href="contact.html">Gửi yêu cầu hỗ trợ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">CÂU HỎI THƯỜNG GẶP</h6>
        <ul>
          <li><a href="#">Sản phẩm cần đổi hết hàng?</a></li>
          <li><a href="#">Tôi có thể trả lại sản phẩm vì không ưng ý?</a></li>
          <li><a href="#">Đơn hàng nhận được bị thiếu so với đơn hàng đã đặt</a></li>
          <li><a href="#">Sản phẩm nhận được không giống với hình ảnh trên website?</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">CHĂM SÓC KHÁCH HÀNG</h6>
        <ul>
          <li><a href="#">Chính sách bán hàng</a></li>
          <li><a href="#">Chính sách bảo hành</a></li>
          <li><a href="#">Chính sách giao hàng</a></li>
          <li><a href="#">Chính sách thanh toán</a></li>
          <li><a href="#">Cơ chế giải quyết tranh chấp</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-block">
        <h6 class="footer-title ptb_20">DỊCH VỤ KHÁCH HÀNG</h6>
        <ul>
          <li> 300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam </li>
          <li>(+123) 456 789
            <br> (+024) 666 888</li>
          <li>tm13102000@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom mt_60 ptb_20">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="social_icon">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="copyright-part text-center">@ 2021 Vũ Đình Hiếu</div>
        </div>
        <div class="col-sm-4">
          <div class="payment-icon text-right">
            <ul>
              <li><i class="fa fa-cc-paypal "></i></li>
              <li><i class="fa fa-cc-visa"></i></li>
              <li><i class="fa fa-cc-discover"></i></li>
              <li><i class="fa fa-cc-mastercard"></i></li>
              <li><i class="fa fa-cc-amex"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- =====  FOOTER END  ===== -->
