<div class="container">
  <div class="row ">
    <!-- =====  BANNER STRAT  ===== -->
    <div class="col-sm-12">
      <div class="breadcrumb ptb_20">
        <h1>Son </h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li class="active">Products</li>
        </ul>
      </div>
    </div>
    <!-- =====  BREADCRUMB END===== -->
    <div id="column-left" class="col-sm-4 col-lg-3 ">
      <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
        <div class="nav-responsive">
          <div class="heading-part">
            <h2 class="main_title">Danh mục sản phẩm</h2>
          </div>
          <ul class="nav  main-navigation collapse in">
            <li><a href="/products/Chanel">Chanel</a></li>
            <li><a href="/products/Gucci">Gucci</a></li>
            <li><a href="/products/Dior">Dior</a></li>
            <li><a href="/products/YSl">YSl</a></li>
          </ul>
        </div>
      </div>
      <div class="left_banner left-sidebar-widget mb_50"> <a href="#"><img src="/assets/images/qc.gif" alt="Left Banner" class="img-responsive" /></a> </div>
      <div class="left-special left-sidebar-widget mb_50">
        <div class="heading-part mb_10 ">
          <h2 class="main_title">Top Products</h2>
        </div>
        <div id="left-special" class="owl-carousel">
          <ul class="row ">
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/son-dior-651-ultra-fire-mau-do-cam-ultra-rouge-vo-do-60389891936d3-26022021134329.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/son-dior-651-ultra-fire-mau-do-cam-ultra-rouge-vo-do-60389891936d3-26022021134329.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">Son Dior Rouge Dior Ultra Care 455 Flower Màu Hồng Đào</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol"></span>890.000 đ</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/m2.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/m2.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">Son Kem Dior Liquid 797 Savage Matte Màu Hồng Tím Đậm</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol"></span>829.000 đ</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/m3.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="/assets/images/product/m3.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">Son Dưỡng Dior Addict Lip Glow Oil Màu 004 Coral (New 2020)</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol"></span>750.000 đ</span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <ul class="row ">
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="../../../assets/images/product/product5.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product5-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="../../../assets/images/product/product6.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product6-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product7.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product7-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <ul class="row ">
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product8.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product8-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product9.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product9-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product10.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product10-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <ul class="row ">
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product1.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product1-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product2.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product2-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
            <li class="item product-layout-left mb_20">
              <div class="product-list col-xs-4">
                <div class="product-thumb">
                  <div class="image product-imageblock"> <a href="product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product3.jpg"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="images/product/product3-1.jpg"> </a> </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="caption product-detail">
                  <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a></h6>
                  <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                  <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-lg-9 mtb_20">
      <div class="category-page-wrapper mb_30">
        <div class="list-grid-wrapper pull-left">
          <div class="btn-group btn-list-grid">
            <button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
            <button type="button" id="list-view" class="btn btn-default list-view"></button>
          </div>
        </div>
        <div class="sort-wrapper pull-right">
          <label class="control-label" for="input-sort">Sắp xếp :</label>
          <div class="sort-inner">
            <div class="col-2" (click)="sort('price')">Giá <i class ="fa fa-sort"></i></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let d of data |orderBy :key : reverse | paginate:
        { itemsPerPage: 9, currentPage: p }" class="product-layout  product-grid  col-md-4 col-sm-6 col-xs-12 ">
          <div class="item">
            <div class="product-thumb clearfix mb_30">
              <span class="product-item-percent-off">
                <span>GIẢM</span>
                <br>
                <span>{{d.discount}}</span>
            </span>
              <div class="image product-imageblock"> <a [routerLink]="['/detail', d._id]" routerLinkActive='active'> <img data-name="product_image" src="{{d.img}}" alt="iPod Classic" title="iPod Classic" class="img-responsive" /> <img src={{d.img}} alt="iPod Classic" title="iPod Classic" class="img-responsive" /> </a>
                <div class="button-group text-center">
                  <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                  <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                  <div class="compare"><a href="#"><span>Compare</span></a></div>
                  <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                </div>
              </div>
              <div class="caption product-detail text-center">
                <h6 data-name="product_name" class="product-name mt_20"><a [routerLink]="['/detail', d._id]" routerLinkActive='active' title="Casual Shirt With Ruffle Hem">{{d.name}}</a></h6>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
                <span class="price"><span class="amount"><span class="currencySymbol"></span>{{d.price}} đ</span>
                </span>
                <p class="product-desc mt_20 mb_60"> More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go.Cover Flow. Browse through your music collection by flipping..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-nav my-pagination text-center mt_50">
        <pagination-controls
        previousLabel="Trước"
            nextLabel="Sau"
        (pageChange)="p = $event"
        class="float-right">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
