.my-pagination ::ng-deep .ngx-pagination .current {
  background: #e40001 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
    margin: 0 2px;
}
.product-item-percent-off {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 9;
  background-color: #e40001;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 6px;
  border-radius: 0 0 7px 7px;
  font-family: Arial;
}
