<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="/assets/img/logo/logo2.png">
    </div>
    <div class="sidebar-brand-text mx-3">HieuOK</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" routerLink="dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Bảng điều khiển</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Features
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="productList">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Danh sách sản phẩm</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="add-product">
      <i class="fab fa-fw fa-wpforms"></i>
      <span>Thêm sản phẩm</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="userList">
      <i class="fas fa-fw fa-table"></i>
      <span>Quản lý tài khoản</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>