<app-loading></app-loading>

<body class="shop-detail">
  <div class="container">
    <div class="row ">
      <!-- =====  BANNER STRAT  ===== -->
      <div class="col-sm-12">
        <div class="breadcrumb ptb_20">
          <h1>Son</h1>
          <ul>
            <li><a routerLink="">Trang chủ</a></li>
            <li><a routerLink="product">Sản phẩm</a></li>
          </ul>
        </div>
      </div>
      <!-- =====  BREADCRUMB END===== -->
      <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
        <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
          <div class="nav-responsive">
            <div class="heading-part">
              <h2 class="main_title">Danh mục sản phẩm</h2>
            </div>
            <ul class="nav  main-navigation collapse in">
              <li><a href="/products/Chanel">Chanel</a></li>
              <li><a href="/products/Gucci">Gucci</a></li>
              <li><a href="/products/Dior">Dior</a></li>
              <li><a href="/products/YSl">YSl</a></li>
            </ul>
          </div>
        </div>
        <div class="left_banner left-sidebar-widget mt_30 mb_40"> <a href="#"><img src="/assets/images/qc.gif"
              alt="Left Banner" class="img-responsive" /></a> </div>

      </div>
      <div class="col-sm-8 col-lg-9 mtb_20">
        <div class="row mt_10 ">
          <div class="col-md-6">
            <div><a class="thumbnails"> <img data-name="product_image" src="{{product.img}}" alt="" /></a></div>
            <div id="product-thumbnail" class="owl-carousel">
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product1.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product1.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product2.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product2.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product3.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product3.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product4.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product4.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product5.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product5.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product6.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product6.jpg" alt="" /></a></div>
              </div>
              <div class="item">
                <div class="image-additional"><a class="thumbnail" href="images/product/product7.jpg"
                    data-fancybox="group1"> <img src="../../../assets/images/product/product7.jpg" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 prodetail caption product-thumb">
            <h4 data-name="product_name" class="product-name"><a href="#"
                title="Casual Shirt With Ruffle Hem">{{product.name}}</a></h4>
            <div class="rating">
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                  class="fa fa-star fa-stack-1x"></i></span>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                  class="fa fa-star fa-stack-x"></i></span>
            </div>
            <span class="price mb_20"><span class="amount">{{product.price}} đ</span>
            </span>
            <div class="detail-old-price" style="visibility: visible;"><span class="showOldPrice">{{product.old_price}}
                đ</span><!----><span class="discount"> Giảm {{product.discount}} </span></div>
            <hr>
            <ul class="list-unstyled product_info mtb_20">
              <li>
                <label>Thương hiệu:</label>
                <span> <a href="#">{{product.brand}}</a></span>
              </li>
              <li>
                <label>Giới tính:</label>
                <span>{{product.gender}}</span>
              </li>
              <li>
                <label>Màu sắc:</label>
                <span> {{product.color}}</span>
              </li>
              <div>
                <label>Gọi đặt mua:
                  <span><a class="attr-property" href="tel:0367337893 ">0367337893</a>
                    <!----><small>(7:30 - 22:00)</small>
                  </span>
                </label>
              </div>
            </ul>
            <hr>
            <div id="product">
              <div class="qty mt_30 form-group2">
                <label id="qtySl">Số lượng</label>
                <input name="product_quantity" min="1" value="1" type="number">
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="Sort-by col-sm-6">
                  <button type="submit" (click)="addToCart(product)" class="btn btn2 btn-default btn-lg">THÊM VÀO
                    GIỎ</button>
                </div>
                <div class="Color col-sm-6">
                  <button type="submit" class="btn btn2 btn-default btn-lg">MUA NGAY</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="exTab5" class="mtb_30">
              <ul class="nav nav-tabs">
                <li class="active"> <a href="#1c" data-toggle="tab">Chi tiết</a> </li>
                <li><a href="#2c" data-toggle="tab">Đánh giá (1)</a> </li>
                <li><a href="#3c" data-toggle="tab">Hỏi đáp</a> </li>
              </ul>
              <div class="tab-content ">
                <div class="tab-pane active" id="1c">
                  <p>CLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis malesuada mi id tristique.
                    Sed ipsum nisi, dapibus at faucibus non, dictum a diam. Nunc vitae interdum diam. Sed finibus, justo
                    vel maximus facilisis, sapien turpis euismod tellus, vulputate semper diam ipsum vel tellus.</p>
                </div>
                <div class="tab-pane" id="2c">
                  <form class="form-horizontal">
                    <div id="review"></div>
                    <h4 class="mt_20 mb_30">Write a review</h4>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-name">Your Name</label>
                        <input name="name" value="" id="input-name" class="form-control" type="text">
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-review">Your Review</label>
                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                        <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-md-6">
                        <label class="control-label">Rating</label>
                        <div class="rates"><span>Bad</span>
                          <input name="rating" value="1" type="radio">
                          <input name="rating" value="2" type="radio">
                          <input name="rating" value="3" type="radio">
                          <input name="rating" value="4" type="radio">
                          <input name="rating" value="5" type="radio">
                          <span>Good</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="buttons pull-right">
                          <button type="submit" class="btn btn-md btn-link">Continue</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="3c">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis malesuada mi id tristique. Sed
                    ipsum nisi, dapibus at faucibus non, dictum a diam. Nunc vitae interdum diam. Sed finibus, justo vel
                    maximus facilisis, sapien turpis euismod tellus, vulputate semper diam ipsum vel tellus.applied
                    clearfix to the tab-content to rid of the gap between the tab and the content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>