<div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
  <div class="newsletter-popup"> <img class="offer" src="../../../assets/images/sale-off.jpg" alt="offer">
    <div class="newsletter-popup-static newsletter-popup-top">
      <div class="popup-text">
        <div class="popup-title">50% <span>off</span></div>
        <div class="popup-desc">
          <div>ĐĂNG KÝ VÀ ĐƯỢC GIẢM GIÁ 50% CHO ĐƠN HÀNG TIẾP THEO CỦA BẠN</div>
        </div>
      </div>
      <form onsubmit="return  validatpopupemail();" method="post">
        <div class="form-group required">
          <input type="email" name="email-popup" id="email-popup" placeholder=" Nhập Email của bạn" class="form-control input-lg" required />
          <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Đăng ký</button>
          <label class="checkme">
            <input type="checkbox" value="" id="checkme" />Không hiển thị lại</label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- =====  HEADER START  ===== -->
<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="header-top-left">
            <div class="contact"><a href="#">GỌI NGAY !</a> <span class="hidden-xs hidden-sm hidden-md">+0367337892</span></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <ul class="header-top-right text-right">
            <li class="account"><a href="login.html"> Tài Khoản</a></li>
            <li class="language dropdown"> <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Ngôn ngữ<span class="caret"></span> </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">English</a></li>
                <li><a href="#">Việt nam</a></li>
              </ul>
            </li>
            <li class="currency dropdown"> <span class="dropdown-toggle" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"> Tiền tệ<span class="caret"></span> </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
                  <li><a href="#">$ US Dollar</a></li>
        <li><a href="#">£ VND</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="main-search mt_40">
            <input id="search-input" name="search" value="" placeholder="Tìm kiếm" class="form-control input-lg" autocomplete="off" type="text">
            <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
          </span> </div>
        </div>
        <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" href="index.html"> <img alt="OYEENok" src="../../../assets/images/logo.png"> </a> </div>
        <div class="col-xs-6 col-sm-4 shopcart">
          <div id="cart" class="btn-group btn-block mtb_40">
            <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true"><span id="shippingcart">GIỎ HÀNG </span><span id="cart-total">SẢN PHẨM(0)</span> </button>
          </div>
          <div id="cart-dropdown" class="cart-menu collapse">
            <ul>
              <li>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td class="text-center"><a href="#"><img src="../../../assets/images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a></td>
                      <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                      </td>
                      <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                    <tr>
                      <td class="text-center"><a href="#"><img src="../../../assets/images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a></td>
                      <td class="text-left product-name"><a href="#">MacBook Pro</a> <span class="text-left price">$20.00</span>
                        <input class="cart-qty" name="product_quantity" min="1" value="1" type="number">
                      </td>
                      <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </li>
              <li>
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-right"><strong>Sub-Total</strong></td>
                      <td class="text-right">$2,100.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                      <td class="text-right">$2.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>VAT (20%)</strong></td>
                      <td class="text-right">$20.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total</strong></td>
                      <td class="text-right">$2,122.00</td>
                    </tr>
                  </tbody>
                </table>
              </li>
              <li>
                <form action="cart_page.html">
                  <input class="btn pull-left mt_10" value="View cart" type="submit">
                </form>
                <form action="checkout_page.html">
                  <input class="btn pull-right mt_10" value="Checkout" type="submit">
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <p>Menu</p>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul id="menu" class="nav navbar-nav">
            <li> <a routerLink="">Trang chủ</a></li>
            <li> <a routerLink="detailed-products">Hệ thống của hàng</a></li>
            <li> <a routerLink = "products">Nghệ sĩ tin dùng</a></li>
            <li class="dropdown mega-dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Thương hiệu</li>
                    <li><a href="#">Chanel</a></li>
                    <li><a href="#">Gucci</a></li>
                    <li><a href="#">Charlotte Tilbury</a></li>
                    <li><a href="#">Dior</a></li>
                    <li><a href="#">Clinique</a></li>
                    <li><a href="#">Hermes</a></li>
                    <li><a href="#">Givenchy</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Giới tính</li>
                    <li><a href="#">Son nữ</a></li>
                    <li><a href="#">Son Unisex</a></li>
                    <li><a href="#">Son lì</a></li>
                    <li><a href="#">Son kem</a></li>
                    <li><a href="#">Son dưỡng</a></li>
                    <li><a href="#">Loại son</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li class="dropdown-header">Màu son</li>
                    <li><a href="#">Đỏ</a></li>
                    <li><a href="#">Tím</a></li>
                    <li><a href="#">Cam</a></li>
                    <li><a href="#">Đỏ hồng</a></li>
                    <li><a href="#">Đỏ tươi</a></li>
                    <li><a href="#">Hồng đất</a></li>
                    <li><a href="#">Đỏ cam</a></li>
                  </ul>
                </li>
                <li class="col-md-3">
                  <ul>
                    <li id="myCarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="item active"> <a href="#"><img src="../../../assets/images/sanpham2.jpeg" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="../../../assets/images/sanpham1.png" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                        <div class="item"> <a href="#"><img src="../../../assets/images/sanpham3.png" class="img-responsive" alt="Banner1"></a></div>
                        <!-- End Item -->
                      </div>
                      <!-- End Carousel Inner -->
                    </li>
                    <!-- /.carousel -->
                  </ul>
                </li>
              </ul>
            </li>
            <li> <a href="blog_page.html">Tin tức</a></li>
            <li> <a href="about.html">Khuyến mãi</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Liên hệ</a>
            </li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </nav>
    </div>
  </div>
</header>
<!-- =====  HEADER END  ===== -->
